@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
  
  body {
    @apply bg-surface-950 text-surface-100 antialiased font-sans min-h-screen selection:bg-brand-500/20 selection:text-brand-300;
  }

  code, pre, kbd {
    font-family: 'Fira Code', monospace;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
